.square {
    border: 1px dotted lightgrey;
    display: inline-block;
    float: left;
    height: 18px;
    width: 18px;
}
.container{
	border: darkblue 2px solid;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 0px;
    overflow: auto;
}
body{
	background-color: black;
	color: white;
	text-align: center;
}